<?xml version="1.0" encoding="UTF-8"?>
<beans>
	<bean id="CategoryDao" class="com.store.dao.impl.CategoryDaoImpl"></bean>
	<bean id="ProductDao" class="com.store.dao.impl.ProductDaoImpl"></bean>
	<bean id="UserDao" class="com.store.dao.impl.UserDaoImpl"></bean>
	<bean id="ProductService" class="com.store.service.impl.ProductServiceImpl"></bean>
	<bean id="CategoryService" class="com.store.service.impl.CategoryServiceImpl"></bean>
	<bean id="UserService" class="com.store.service.impl.UserServiceImpl"></bean>
</beans>
